@use "../../styles/utils" as u;

.presale {
  padding-top: u.pixelToRem(80px);
  padding-bottom: u.pixelToRem(80px);

  &-header {
    margin-bottom: u.pixelToRem(48px);
    
    h3 {
      margin-bottom: u.pixelToRem(8px);
    }
  }

  &-layout {
    display: grid;
    gap: u.pixelToRem(48px);

    @media (min-width: 900px) {
      grid-template-columns: 7fr 5fr;
    }
  }

  &-info {
    background-color: rgba(0, 229, 255, 0.05);
    padding: u.pixelToRem(32px);
    border-radius: u.pixelToRem(16px);
    border: 1px solid rgba(0, 229, 255, 0.2);
    margin-bottom: u.pixelToRem(32px);
  }

  &-prompt {
    padding: u.pixelToRem(32px);
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: u.pixelToRem(16px);
    text-align: center;
  }
}
